<h1>Disasters</h1>

<p>Voici une liste de catastrophes par type d'aléa</p>

<p *ngIf="!aleaList"><em>Loading...</em></p>

<div *ngIf="aleaList">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Listes d'aléas</h2>
        <!--<button class="btn btn-default float-end" title="New List..."
                (click)="showNewListModal(newListModalTemplate)">
          <i class="bi bi-journal-plus"></i>
        </button>-->
      </div>
      <ul class="list-group">
        <li *ngFor="let alea of aleaList; index as i" class="list-group-item"
        [ngClass]="{ 'active': selectedAlea == alea, 'alea': true }" (click)="selectedAlea = alea">
          <div class="clearfix" *ngIf="alea.legend">
            <div class="float-start">
              {{ alea.title }}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" *ngIf="selectedAlea">
      <div class="clearfix">
        <h2 class="float-start">{{ selectedAlea.legend }}</h2>
        <button id="listOptions" class="btn btn-default float-end" title="List Options...">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Premier relevé</th>
            <th scope="col">Dernier relevé</th>
            <th scope="col">Lien</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedAlea.disasters; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.premierReleve | date:'dd/MM/yy HH:mm:ss' }}</td>
            <td>{{ item.dernierReleve | date:'dd/MM/yy HH:mm:ss' }}</td>
            <td><a href="{{ item.lienSource }}">{{ item.lienSource }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ aleaList | json }}</pre>
</div>
